@inherits LayoutComponentBase

<header>
  <div class="brand">www.stefanhall.se</div>
  <div class="address-bar">Svedjegatan 25 | 504 45  BORÅS | 0704806385</div>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>